<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>day - room - Schedule</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="/css/day.css">
</head>
<body>
<nav class="nav">
  <ul class="navList">
    <li class="navList-item"><a href="#" class="nav-item-active"><img src="/app/public/images/nav-menu01.gif" alt=""></a></li>
    <li class="navList-item"><a href="#"><img src="/app/public/images/nav-menu02.gif" alt=""></a></li>
    <li class="navList-item"><a href="#"><img src="/app/public/images/nav-menu03.gif" alt=""></a></li>
    <li class="navList-item"><a href="#"><img src="/app/public/images/nav-menu04.gif" alt=""></a></li>
    <li class="navList-item"><a href="#"><img src="/app/public/images/nav-menu05.gif" alt=""></a></li>
    <li class="navList-item"><a href="#"><img src="/app/public/images/nav-menu06.gif" alt=""></a></li>
  </ul>
</nav>
<div class="sidebar">
  <div class="calendar">
    <table class="calendarHeading" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td class="calendarHeading-prev"><</td>
          <td class="calendarHeading-title">2016年 8月</td>
          <td class="calendarHeading-next">></td>
        </tr>
      </tbody>
    </table>
    <table class="calendarBody" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <th class="calendarBody-cell calendarBody-head" title="月曜日">月</th>
          <th class="calendarBody-cell calendarBody-head" title="火曜日">火</th>
          <th class="calendarBody-cell calendarBody-head" title="水曜日">水</th>
          <th class="calendarBody-cell calendarBody-head" title="木曜日">木</th>
          <th class="calendarBody-cell calendarBody-head" title="金曜日">金</th>
          <th class="calendarBody-cell calendarBody-head" title="土曜日">土</th>
          <th class="calendarBody-cell calendarBody-head" title="日曜日">日</th>
        </tr>
        <tr>
          <td class="calendarBody-cell">1</td>
          <td class="calendarBody-cell">2</td>
          <td class="calendarBody-cell">3</td>
          <td class="calendarBody-cell">4</td>
          <td class="calendarBody-cell">5</td>
          <td class="calendarBody-cell">6</td>
          <td class="calendarBody-cell">7</td>
        </tr>
        <tr>
          <td class="calendarBody-cell">8</td>
          <td class="calendarBody-cell calendarBody-cell-active">9</td>
          <td class="calendarBody-cell">10</td>
          <td class="calendarBody-cell">11</td>
          <td class="calendarBody-cell">12</td>
          <td class="calendarBody-cell">13</td>
          <td class="calendarBody-cell">14</td>
        </tr>
        <tr>
          <td class="calendarBody-cell">15</td>
          <td class="calendarBody-cell">16</td>
          <td class="calendarBody-cell">17</td>
          <td class="calendarBody-cell">18</td>
          <td class="calendarBody-cell">19</td>
          <td class="calendarBody-cell">20</td>
          <td class="calendarBody-cell">21</td>
        </tr>
        <tr>
          <td class="calendarBody-cell">22</td>
          <td class="calendarBody-cell">23</td>
          <td class="calendarBody-cell">24</td>
          <td class="calendarBody-cell">25</td>
          <td class="calendarBody-cell">26</td>
          <td class="calendarBody-cell">27</td>
          <td class="calendarBody-cell">28</td>
        </tr>
        <tr>
          <td class="calendarBody-cell">29</td>
          <td class="calendarBody-cell">30</td>
          <td class="calendarBody-cell">31</td>
        </tr>
      </tbody>
    </table>
  </div><!-- //END.calendar -->
  <ul class="tabs">
    <li class="tabs-item is-active">会議室</li>
    <li class="tabs-item">備品</li>
  </ul>
  <div class="accordion"><p class="accordion-button is-active">本社</p></div><!-- //END.accordion -->
  <div class="accordionTarget">
    <dl class="accordionTarget-list targetList">
      <dt class="targetList-title">10F</dt>
      <dd class="targetList-desc">大会議室1・2</dd>
      <dd class="targetList-desc">会議室3［応接］</dd>
      <dd class="targetList-desc">会議室4</dd>
      <dd class="targetList-desc">会議室5</dd>
      <dd class="targetList-desc">会議室6</dd>
    </dl>
    <dl class="accordionTarget-list targetList">
      <dt class="targetList-title">11F</dt>
      <dd class="targetList-desc">大会議室1</dd>
      <dd class="targetList-desc">会議室2</dd>
    </dl>
    <dl class="accordionTarget-list targetList">
      <dt class="targetList-title">12F</dt>
      <dd class="targetList-desc">会議室1</dd>
    </dl>
  </div><!-- //END.accordionTarget -->
  <div class="accordion"><p class="accordion-button is-active">札幌</p></div><!-- //END.accordion -->
  <div class="accordionTarget">
    <dl class="accordionTarget-list targetList">
      <dt class="targetList-title">10F</dt>
      <dd class="targetList-desc">大会議室1・2</dd>
      <dd class="targetList-desc">会議室3［応接］</dd>
      <dd class="targetList-desc">会議室4</dd>
      <dd class="targetList-desc">会議室5</dd>
      <dd class="targetList-desc">会議室6</dd>
    </dl>
    <dl class="accordionTarget-list targetList">
      <dt class="targetList-title">11F</dt>
      <dd class="targetList-desc">大会議室1</dd>
      <dd class="targetList-desc">会議室2</dd>
    </dl>
    <dl class="accordionTarget-list targetList">
      <dt class="targetList-title">12F</dt>
      <dd class="targetList-desc">会議室1</dd>
    </dl>
  </div><!-- //END.accordionTarget -->
</div><!-- //END.sidebar -->
</body>
</html>